/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #353535;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

header a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
}

header a span {
    display: block;
    text-align: center;
}

.logo-2 {
    font-size: 50px;
    font-weight: bold;
    margin-left: -5px;
}

.logo-3 {
    letter-spacing: 20px;
}

.blog-posts-container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-radius: 6px;
}

.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-posts-container h2 {
    margin-bottom: 20px;
}

.blog-posts-container .author {
    margin-bottom: 20px;
}

.blog-posts-container .summary {
    margin-bottom: 20px;
}

.blog-posts-container a {
    text-decoration: none;
    background-color: #353535;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    display: inline-block;
}

.post-container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 150px;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.post-container img {
    width: 100%;
    margin-bottom: 20px;
}

.post-container .author {
    margin-bottom: 20px;
    padding: 0 20px;
}

.post-container .content {
    padding: 0 20px;
    margin-bottom: 20px;
}

.post-container .content p {
    margin-bottom: 20px;
}

.post-container .content h3 {
    margin-bottom: 20px;
}

.post-container h2 {
    margin-bottom: 20px;
    padding: 0 20px;
}

.author {
    color: #AAA;
}

.post-container .content h1,
.post-container .content h2,
.post-container .content h3,
.post-container .content h4,
.post-container .content h5,
.post-container .content h6 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}